/* font-family: 'Roboto', sans-serif; */

body {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.bg {
  background-image: url('../img/img_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  left: -30px;
  top: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
